<div class="options">
    <label class="form-control bg-dark border-dark text-light">
        <input type="checkbox" data-bind="checked: showBestPossibleWords" />
        Show best plausible word
    </label>
    <p class="border-danger text-danger form-control bg-dark">
        Danger! Perform these actions at your own risk
    </p>
    <button class="btn btn-danger text-dark" data-bind="click: onDeleteClick">
        Delete Game
    </button>
    <button class="btn btn-warning" data-bind="click: onLeaveClick">
        Leave Game
    </button>
    <button class="btn btn-outline-danger" data-bind="click: onUndoClick">
        Undo
    </button>
    <button class="btn btn-outline-danger" data-bind="click: onRedoClick">
        Redo
    </button>
    <button class="btn btn-outline-danger" data-bind="click: onSkipClick">
        Skip
    </button>
</div>
