<div class="teams">
    <p>
        Invite other players using this link:
        <input
            type="text"
            class="form-control-sm"
            data-bind="textinput: location.toString()"
        />
    </p>
    <ul data-bind="foreach: teams">
        <li>
            Team
            <!-- ko text: $data[0] --><!-- /ko -->:

            <!-- ko if: $data[1] -->
            <!-- ko text: $data[1] --><!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: $data[1] -->
            <em>empty</em> (Add computer opponent:
            <span
                class="add-computer-opp"
                data-bind="click: function(){$data[2](0)}"
                >Easy</span
            >
            -
            <span
                class="add-computer-opp"
                data-bind="click: function(){$data[2](1)}"
                >Medium</span
            >
            -
            <span
                class="add-computer-opp"
                data-bind="click: function(){$data[2](2)}"
                >Hard</span
            >)
            <!-- /ko -->
        </li>
    </ul>
</div>
