/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
-------------------------------------------------- */
body,
a[href] {
    color: #ddd;
}
.square,
.letter {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-family: monospace;
    font-size: 1.45rem;
    color: gold;
}
.square {
    border: 1px solid black;
}
.letter {
    background-color: saddlebrown;
    line-height: 33px;
    border: 1px solid gold;
    cursor: pointer;
}
.square > .letter {
    border: none;
}
.scores {
    margin-bottom: 10px;
}
.board {
    margin-top: 15px;
    display: grid;
    grid-template-areas: ". . . . . . . . . . . . . . .";
    justify-content: center;
}
.help,
.moves,
.teams,
.options,
.bag {
    margin-top: 15px;
    height: 500px;
    overflow: auto;
    box-sizing: border-box;
}
.help,
.moves,
.teams,
.bag {
    border: 1px solid black;
}
.help {
    padding: 15px;
}
.help code {
    color: #ccc;
}
.moves {
    padding-top: 15px;
    padding-bottom: 15px;
}
.teams {
    padding: 15px;
}
.teams ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bag {
    height: 450px;
    padding-left: 0;
}
.bag-row {
    display: flex;
}
.rack {
    display: flex;
    margin-top: 20px;
    height: 35px;
    justify-content: center;
}
.drop-target {
    border: 3px dashed aquamarine;
}
.word3 {
    background-color: orange;
    color: black;
}
.word2 {
    background-color: darkmagenta;
}
.letter2 {
    background-color: darkcyan;
}
.letter3 {
    background-color: midnightblue;
}
.team-turn {
    font-weight: bolder;
}
.team-yours:after {
    content: " (you)";
}
.add-computer-opp {
    cursor: pointer;
    color: white;
}
.view-selection {
    display: block;
}
.view-selection label {
    text-transform: capitalize;
}
.view-selection input {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}
.main-view {
    height: 530px;
}
