@page
@model ChooseTeamModel
@{
    ViewData["Title"] = "Choose Team";
}
@section Scripts {
    <script>
        require(["knockout", "pages/chooseteam/index"], function (ko, page) {
            window.___debug = new page.Index(
                @Html.Raw(Model.ActivePlayers.ToString()));
            ko.applyBindings(window.___debug);
        });
    </script>
}
<h3>Choose Team for Game</h3>

<form method="POST">
    <label for="team-choice">Which team would you like to be on?</label>
    <br />
    <div class="btn-group">
        <select id="team-choice" 
            name="team" 
            class="form-control" 
            data-bind="value: teamChoice">
        @for (var i = 1; i <= Model.Teams; i++)
        {
            <option value="@i">@i</option>
        }
        </select>
    </div>
    <div class="btn-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
    <p style="margin-top: 5px">
        Players already on that team: 
        <ul data-bind="foreach: playersOnTeam">
            <li data-bind="text: $data"></li>
        </ul>
    </p>
</form>
