@page
@model ChooseTeamModel
@{
    ViewData["Title"] = "Choose Team";
}
<h3>Choose Team for Game</h3>

<form method="POST">
    <label for="team-choice">Which team would you like to be on?</label>
    <br />
    <div class="btn-group">
        <select id="team-choice" name="team" class="form-control">
        @for (var i = 1; i <= Model.Teams; i++)
        {
            <option value="@i">@i</option>
        }
        </select>
    </div>
    <div class="btn-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>
