@page
@model GameModel
@{
    ViewData["Title"] = "Scrabble Game";
}
<h1>@ViewData["Title"]</h1>

<div class="board" data-bind="foreach: { data: board.board, as: 'row' }">
    <!-- ko foreach: row -->
        <div class="square"></div>
    <!-- /ko -->
</div>

<div class="rack" data-bind="foreach: racks[0].rack">
    <div class="letter" 
        draggable="true" 
        ondragstart="event.dataTransfer.setData('text/plain',null)"
        data-bind="text: $data"></div>
</div>
