@page
@model GameModel
@{
    ViewData["Title"] = "Scrabble Game";
}
<h1>@ViewData["Title"]</h1>

<div class="board" data-bind="foreach: { data: board.board, as: 'row' }">
    <!-- ko foreach: row -->
        <div class="square" data-bind="text: blankLetter || letter"></div>
    <!-- /ko -->
</div>

<div class="rack" data-bind="foreach: { data: rack.rack, as: 'letter' }">
    <div class="letter" 
        draggable="true" 
        ondragstart="event.dataTransfer.setData('text/plain',null)"
        data-bind="text: letter"></div>
</div>
<br />
<div class"buttons" data-bind="with: buttons">
    <button data-bind="click: onPlayClick">Play</button>
    <button data-bind="click: onRecallClick">Recall</button>
    <button data-bind="click: onDrawClick">Draw</button>
</div>
