@page
@model GameModel
@{
    ViewData["Title"] = "Scrabble Game";
}
<h1>@ViewData["Title"]</h1>

<div class="board" data-bind="foreach: { data: board.board, as: 'row' }">
    <!-- ko foreach: row -->
        <div class="square" data-bind="text: blankLetter || letter"></div>
    <!-- /ko -->
</div>

<div class="rack" data-bind="foreach: racks[0].rack">
    <div class="letter" 
        draggable="true" 
        ondragstart="event.dataTransfer.setData('text/plain',null)"
        data-bind="text: $data"></div>
</div>

<div class"buttons" data-bind="with: buttons">
    <button data-bind="click: onPlayClick">Play</button>
</div>

<p>debug</p>
<button onclick="ko.applyBindings(_app)">APPLY BINDINGS</button>
<button onclick="_app._game.draw()">DRAW</button>
