@page
@model GameModel
@{
    ViewData["Title"] = "Scrabble Game";
}
@section Scripts {
    <script>
        const teamNumber = @Model.Team;
        const timestamp = @Model.Timestamp;
        const gameJson = @Html.Raw(Model.GameJson?.ToString() ?? "null");

        requirejs.config({
            baseUrl: "../js/",
            paths: {
                jquery: "../lib/jquery/dist/jquery",
                "jquery-ui": "../lib/jquery-ui",
                underscore: "../lib/underscore",
                knockout: "../lib/knockout",
                signalR: "../lib/signalr/dist/browser/signalr",
            },
        });

        requirejs(["init"]);
    </script>
}
<p data-bind="foreach: scores.scores">
    <span data-bind="text: $data"></span>&nbsp;&nbsp;
</p>
<p data-bind="with: moves">
    <select class="form-control"
        data-bind="options: moves, value: move">
    </select>
</p>

<div class="board" data-bind="foreach: { data: board.board, as: 'row' }">
    <!-- ko foreach: row -->
        <div class="square" 
            data-bind="
            text: blankLetter || letter,
            css: multiplierType ? multiplierType + multiplier : '',
            "></div>
    <!-- /ko -->
</div>

<div class="rack" data-bind="foreach: { data: rack.rack, as: 'letter' }">
    <div class="letter" 
        draggable="true" 
        ondragstart="event.dataTransfer.setData('text/plain',null)"
        data-bind="text: letter"></div>
</div>
<br />
<div class"buttons" data-bind="with: buttons">
    <!-- ko if: canGo -->
    <button data-bind="click: onPlayClick">Play</button>
    <button data-bind="click: onRecallClick">Recall</button>
    <button data-bind="click: onDrawClick">Draw</button>
    <!-- /ko -->

    <!-- ko ifnot: canGo -->
    <span>[Play]</span>
    <span>[Recall]</span>
    <span>[Draw]</span>
    <!-- /ko -->
</div>
